@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --color-blue: #038aff;
  --color-green: #5bcaa7;
  --color-yellow: #febd3d;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.hero-creditCard-container {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 100px;
}

.view-all-btn:link,
.view-all-btn:visited {
  text-decoration: none;
  color: #038aff;
  border-bottom: 1px dashed #038aff;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  transition: all 0.3s;
  align-self: flex-start;
}

.view-all-btn:hover,
.view-all-btn:active {
  border-bottom: 1px solid #038aff;
}

.linkBtn-underline:link,
.linkBtn-underline:visited {
  text-decoration: none;
  color: #038aff;
  border-bottom: 2px solid #038aff;
  transition: all 0.3s;
}
.linkBtn-underline:hover,
.linkBtn-underline:active {
  color: #68b9ff;
  border-bottom: 2px solid #68b9ff;
}

.project-item1::after,
.project-item2::after,
.project-item3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(161, 161, 161, 0.377);
  height: 2px;
  width: 100%;
}
.project-item1::before,
.project-item2::before,
.project-item3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #ffd684;
  height: 2px;
}

.project-item1::before {
  width: 50%;
}
.project-item2::before {
  width: 65%;
}
.project-item3::before {
  width: 85%;
}

/*SELF SET STYLES */
.rounded-xl {
  border-radius: 0.8rem !important;
}
.rounded-btn {
  border-radius: 0.45rem !important;
}

/* SPACING */
/* Gap */
.col-gap-1 {
  gap: 0.8rem !important;
}
.col-gap-2 {
  gap: 1.2rem !important;
}
.col-gap-3 {
  gap: 2rem !important;
}
.col-gap-4 {
  gap: 4rem !important;
}

/* Margin */
.my-6 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mb-6 {
  margin-bottom: 4rem;
}

/* TYPOGRAPHY */
.fs-1 {
  font-size: 4.8rem !important;
}
.fs-2 {
  font-size: 3.6rem !important;
}
.fs-3 {
  font-size: 2.4rem !important;
}
.fs-4 {
  font-size: 1.6rem !important;
}
.fs-5 {
  font-size: 1.2rem !important;
}
.fs-6 {
  font-size: 0.8rem !important;
}

.line-height-paragraph {
  line-height: 2.4rem !important;
}

/* BUTTON */

.person-icon {
  border: 2px solid #fff;
}

.less-margin-right-1 {
  margin-right: -1rem;
}

.gradient-border-top::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(29, 29, 51, 0.193) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

/* LINK */

.odooLink:link,
.odooLink:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.odooLink:hover,
.odooLink:active {
  color: inherit;
}
